.rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 60vw;
  margin: auto;
  padding-top: 10vh;
}
.upload-container {
  min-width: 29vw;
  margin-right: 1vw;
}

.image-container {
  width: 29vw;
  height: 29vw;
  border: 1px dashed;
  margin-bottom: 1vw;
  justify-content: center !important;
  padding: 2rem;
  align-items: center;
  text-align: center;
  opacity: 50%;
}

.btn-container {
  margin-right: 1vw;
  min-width: 100%;
}
button {
  text-transform: none !important;
}

span {
  text-transform: none !important;
}

.remove-btn {
  flex-grow: 1;
  margin-right: 0.5vw !important;
}
.process-btn {
  flex-grow: 1;
  margin-left: 0.5vw !important;
}

.display-row > p {
  font-size: 1.5rem;
}
.display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 20vw;
}

.display-row {
  display: flex;
  align-items: center;
}

.emoji {
  max-height: 5rem;
  width: auto;
}

.update-text {
  color: green;
}

.update-container {
  min-height: 2rem;
}
